<div class="widget stacked widget-table action-table">
    <div class="widget-header">
        <i class="icon-th-list"></i>
        <h3>Available Chart Details</h3>
    </div> <!-- /widget-header -->
    <div class="widget-content">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Description</th>
                <th>Table</th>
                <th>Metric</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="chart in chartsdb.rows | orderBy:'id':true">
                <td><a ng-href="#/charts/{{chart.id}}">View</a></td>
                <td>{{chart.doc.desc}}</td>
                <td>{{chart.doc.table}}</td>
                <td>{{chart.doc.metric}}</td>
                <td><a ng-href="#/charts" ng-click="deleteChart(chart.id)">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div> <!-- /widget-content -->
</div> <!-- /widget -->