<div class="widget stacked">
    <div class="widget-header">
        <i class="icon-bar-chart"></i>
        <h3>{{chart.desc}}</h3>
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <nvd3-multi-bar-chart
                data="chartData"
                id="d3chart"
                width="550"
                height="350"
                margin="{top: 10, right: 10, bottom: 40 , left: 80}"
                tooltipcontent="toolTipContentFunction()"
                interative="true"
                tooltips="true"
                showXAxis="true"
                xaxislabel="{{chart.groupby}}"
                yaxislabel="{{chart.desc}} (in thousands)"
                showYAxis="true">
            <svg></svg>
        </nvd3-multi-bar-chart>
    </div><!-- /area-chart -->
</div><!-- /widget-content -->