<h3>Name of model: {{model._id}}</h3>
<div ng-show="model.model == 'variablelibrary'">
<span ng-repeat="(key,value) in model">
    <span ng-hide="['_id','_rev','model'].indexOf(key) != -1"><b>{{key}}:</b> {{value}}<br></span>
</span>
</div>
<div ng-hide="model.model == 'variablelibrary'">
<b>Table:</b> {{model.table}}<br></span>
<b>Simulation table:</b> {{model.table_sim}}<br></span>
<span ng-show="model.merge"><b>Merge parameters:</b> {{model.merge}}<br></span>
<b>Model type:</b> {{model.model}}<br></span>
<br>
<span><b>Variable library:</b> {{model.var_lib_file}}<br></span>
<span><b>Independent variables:</b> {{model.ind_vars.join(',')}}<br></span>
<span ng-show="model.add_constant"><b>Add constant:</b> {{model.add_constant}}<br></span>
<br>
<span ng-show="model.sample_size"><b>Sample size:</b> {{model.sample_size}}<br></span>
<span ng-show="model.alternatives"><b>Alternatives:</b> {{model.alternatives}}<br></span>
<span><b>Dependent variable:</b> {{model.dep_var}}<br></span>
<span ng-show="model.dep_var_transform"><b>Dependent variable transformation:</b> {{model.dep_var_transform}}<br></span>
<span ng-show="model.output_transform"><b>Output transformation:</b> {{model.output_transform}}<br></span>
<br>
<span ng-show="model.segment"><b>Segment on:</b> {{model.segment.join(',')}}<br></span>
<span><b>Output name:</b> {{model.output_varname}}<br></span>
</div>
<br>

<div ng-show="isEditing">
<hr>
<div ng-include src="'views/model_edit.html'"></div>
<button class="btn btn-default" ng-click="saveLocally()">Save locally</button>
<button class="btn btn-default" ng-click="saveToDB(id)">Save to database</button>
</div>
<div ng-hide="isEditing">
<p class="btn-group">
<button class="btn btn-mini btn-info" ng-click="editModel()">Edit</button>
<button ng-hide="model.model == 'variablelibrary'" class="btn btn-mini btn-success" ng-click="compileModel()">Compile</button>
<button ng-hide="model.model == 'variablelibrary'" class="btn btn-mini btn-success" ng-click="estimateModel()">Estimate</button>
<button ng-hide="model.model == 'variablelibrary'" class="btn btn-mini btn-success" ng-click="simulateModel()">Simulate</button>
</p>
</div>

<div ng-include src="'views/model_results.html'"></div>

<div style="white-space: pre-wrap;">{{model_source.estimate}}</div>