<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <table class='table'>
                    <thead>
                    <tr><th>Available models:</th></tr>
                    </thead>
                    <tr ng-repeat="model in config_list"><td>
                        <a ng-href="#/models/{{model}}">{{model}}<small class='muted'></small></a>
                    </td></tr>
                    <tr><td>
                        <button ng-click="newModel()" class="btn btn-default">Create new</button>
                    </td></tr>
                </table>
            </div>
            <div class="col-md-9">
                <div ng-show="locationEquals('/models')" ng-include src="'views/model_list.html'"></div>
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
