<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <table class='table'>
                    <thead>
                    <tr><th>Available models:</th></tr>
                    </thead>
                    <tr ng-repeat="model in modelsdb.rows | orderBy:'id':true"><td>
                        <a ng-href="#/models/{{model._id}}">{{model.id}} <small class='muted' ng-show="model.doc.model">as {{model.doc.model}}</small></a>
                    </td></tr>
                    <tr><td>
                        <button ng-click="newModel()" class="btn btn-default">Create new</button>
                    </td></tr>
                </table>
            </div>
            <div class="col-md-9">
                <div ng-show="locationEquals('/models')" ng-include src="'views/model_list.html'"></div>
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
