<div class="row">

    <!-- upload data -->
    <div class="col-md-6" align="center">
        <input class="form-control" ng-model='urlToFetch' placeholder="Enter url to fetch">
        <input class="form-control" ng-model='urlToFetchOutName' placeholder="Enter name to store">
        <button ng-click="fetchData()" type="button" class="btn btn-default btn-sm">
            Fetch csv file
        </button>
    </div>

    <!-- merge data -->
    <div class="col-md-6" align="center">
        <table>
            <tr>
                <td>
                    Select table:
                </td>
                <td>
                    <select class="form-control" ng-model="estimation_table" ng-options="id for id in list"></select>
                </td>
            </tr>
            <tr ng-show="estimation_table">
                <td>
                    Select merge table:
                </td>
                <td>
                    <select class="form-control" ng-model="estimation_merge_table" ng-options="id for id in list"></select>
                </td>
            </tr>
            <tr ng-show="estimation_table">
                <td>Select left join field:</td>
                <td>
                    <select class="form-control" ng-model="left_join_fld" ng-options="fld for fld in left_fields">
                        <option value="">use index</option>
                    </select>
                </td>
            </tr>
            <tr ng-show="estimation_merge_table">
                <td>Select right join field:</td>
                <td>
                    <select class="form-control" ng-model="right_join_fld" ng-options="fld for fld in right_fields">
                        <option value="">use index</option>
                    </select>
                </td>
            </tr>
            <tr ng-show="estimation_table">
                <td>Select join type:</td>
                <td>
                    <select class="form-control" ng-model="merge_type" ng-options="typ for typ in ['left','right','outer','inner']"></select>
                </td>
            </tr>
            <tr ng-show="estimation_table">
                <td></td>
                <td>
                    <button ng-click="mergeTables()" type="button" class="btn btn-default btn-sm">
                        Merge tables
                     </button>
                </td>
            </tr>
        </table>
    </div>
</div>



<hr>
<div ng-show="activeField" class="widget stacked">
    <div class="widget-header">
        <i class="icon-th-list"></i>&nbsp;&nbsp;
        Quantiles for {{activeField.label}}
    </div>
    <!-- /widget-header -->
    <div class="widget-content">
        <nvd3-line-chart
                data="activeField.chartData"
                id="{{activeField.label}}"
                height="{{activeField.height}}"
                margin="{top: 10, right: 10, bottom: 20 , left: 60}"
                interative="true"
                tooltips="true"
                showXAxis="true"
                xaxistickvalues="[0,1,2,3,4]"
                showYAxis="true">
            <svg></svg>
            </nvd3-multi-bar-chart>
    </div><!-- /area-chart -->
</div><!-- /widget-content -->


<!-- nvd3 graphs, put in modal -->
<div class="row">
    <div class="col-md-12" align="center">
        <span ng-click="setActiveTable(id)" ng-repeat="id in list" ng-class="activeID === undefined || '{{id}}' == activeID ? '' : 'text-muted'">{{id|uppercase}}<span ng-hide="$last"> | </span></span>
    </div>
</div>


<!-- sample recs -->
<div class="row">
    <div class="col-md-12">
        <div ng-show="sampleRowsON" class="box" ng-init="showRows=false">
            <div class="box-header" data-original-title>
                <h2><i class="fa fa-bar-chart-o"></i><span class="break"></span>Sample Rows - {{activeID|uppercase}}</h2>
                <div class="box-icon">
                    <a ng-click="showRows = !showRows" href="#/tables" class="btn-minimize"><i class="fa" ng-class="showRows?'fa-chevron-up':'fa-chevron-down'"></i></a>
                    <a ng-click="sampleRowsON=false" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>

            <!-- filter and group by -->
            <div ng-show="showRows" class="box-content">
                <div style="white-space:nowrap;">
                    <form class="form-inline" ng-submit="showSampleRows(activeID,sorted,descending)">
                        <div class="form-group" style="border: 0px; padding: 0px; margin: 0px; width: 59%;">
                            <input id="filterQueryInput" class="form-control" ng-model='filterQuery' placeholder="Enter filter">
                        </div>
                        <div class="form-group" style="border: 0px; padding: 0px; margin: 0px; width: 20%;">
                            <select ng-model='groupBy' class="form-control">
                                <option ng-repeat="fld in show.labels">{{fld}}</option>
                            </select>
                        </div>
                        <div class="form-group" style="border: 0px; padding: 0px; margin: 0px; width: 20%;">
                            <select ng-model='metric' class="form-control">
                                <option ng-repeat="fld in ['sum()','mean()','max()','min()','quantile()']">{{fld}}</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <div class="box-content table-responsive" style="overflow: auto; overflow-x: scroll; overflow-y: hidden;">
                <table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th ng-repeat="fld in show.labels"
                            class="text-center sortable" ng-class="{
                                                                    'sort-asc': tableParams.isSortBy(fld, 'asc'),
                                                                    'sort-desc': tableParams.isSortBy(fld, 'desc')
                                                                  }"
                            ng-click="tableParams.sorting(fld, tableParams.isSortBy(fld, 'asc') ? 'desc' : 'asc')">
                            <div>{{fld}}</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="showRows" ng-repeat="rec in show.recs">
                        <td ng-hide="fld == 'labels'" ng-repeat="fld in rec track by $index" sortable="fld">
                            <div ng-click="addNumToQuery(fld)" ng-if="isNumber(fld)">{{fld|number}}</div>
                            <div ng-click="addStrToQuery(fld)" ng-if="!isNumber(fld)">{{fld}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td ng-repeat="fld in show.labels">
                            <input type="checkbox" ng-model="selectedFields[fld]" />
                        </td>
                    </tr>
                    </tbody>
                </table>
                <script type="text/ng-template" id="custom/pager">
                    <ul class="pager ng-cloak">
                        <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                            </div>
                        </li>
                    </ul>
                </script>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row">
        <div class="col-md-12" align="center">
            <table>
                <tr>
                    <td>
                        <select class="form-control" ng-model="dep_var" ng-options="fld for fld in show.labels">
                        </select>
                    </td>
                    <td>
                        <select class="form-control" ng-model="dep_var_transform" ng-options="trans for trans in transformations">
                        </select>
                    </td>
                    <td>
                        <select class="form-control" ng-model="output_transform" ng-options="trans for trans in transformations">
                        </select>
                    </td>
                    <td>
                        <button ng-click="execModel()" type="button" class="btn btn-default btn-md">
                            Estimate Model
                        </button>
                    </td>
                </tr>
            </table>
    </div>
</div>




<div class="row">
     <div class="col-md-offset-2 col-lg-8">
         <div ng-show="model_results&&modelResultsON" class="box" ng-init="showModelResults=true">
             <div class="box-header" data-original-title>
                 <h2><i class="fa fa-bar-chart-o"></i><span class="break"></span>Model Results
                 </h2>
                 <div class="box-icon">
                     <a ng-click="showModelResults=!showModelResults" class="btn-minimize"><i class="fa" ng-class="showModelResults?'fa-chevron-up':'fa-chevron-down'"></i></a>
                     <a ng-click="modelResultsON=false" class="btn-close"><i class="fa fa-times"></i></a>
                 </div>
             </div>
             <div ng-show="showModelResults" class="box-content">
                 <table ng-table="tableParams" template-pagination="custom/emptypager" class="table table-striped table-bordered">
                         <tr ng-repeat="fld in model_results.columns">
                             <td data-title="'Variable'">
                                 {{fld}}
                             </td>
                             <td data-title="'Coefficient'" align="right">
                                 {{model_results.est_results[$index][0]|number}}
                             </td>
                             <td data-title="'Standard Error'" align="right">
                                 {{model_results.est_results[$index][1]|number}}
                             </td>
                             <td data-title="'T-score'" align="right">
                                 {{model_results.est_results[$index][2]|number}}
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <b>R-squared</b>
                             </td>
                             <td align="right">
                                 {{model_results.rsquared|number}}
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <b>Adjusted R-squared</b>
                             </td>
                             <td align="right">
                                 {{model_results.rsquared_adj|number}}
                             </td>
                         </tr>
                 </table>
                 <script type="text/ng-template" id="custom/emptypager"></script>
             </div>
         </div>
     </div>
</div>


<!-- describe table -->
<div class="row">
    <div class="col-md-12">
        <div ng-show="summaryON" class="box" ng-init="showSummaryBox=false">
            <div class="box-header" data-original-title>
                <h2><i class="fa fa-bar-chart-o"></i><span class="break"></span>Table Describe - {{activeID|uppercase}}</h2>
                <div class="box-icon">
                    <a ng-click="showSummaryBox=!showSummaryBox" class="btn-minimize"><i class="fa" ng-class="showSummaryBox?'fa-chevron-up':'fa-chevron-down'"></i></a>
                    <a ng-click="summaryON=false" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div ng-show="showSummaryBox" class="box-content" style="overflow: auto; overflow-x: scroll; overflow-y: hidden;">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th ng-repeat="fld in show.labels"><a ng-click="activateField(fld)">{{fld}}</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr><td>Type</td><td align="right" ng-repeat="fld in show.labels">{{summary[fld].dtype}}</td></tr>
                    <tr><td>Count</td><td align="right" ng-repeat="fld in show.labels">{{summary[fld].summary.count|number}}</td></tr>
                    <tr><td>Min</td><td align="right" ng-repeat="fld in show.labels">{{summary[fld].summary.min|number}}</td></tr>
                    <tr><td>25%</td><td align="right" ng-repeat="fld in show.labels">{{summary[fld].summary["25%"]|number}}</td></tr>
                    <tr><td>50%</td><td align="right" ng-repeat="fld in show.labels">{{summary[fld].summary["50%"]|number}}</td></tr>
                    <tr><td>75%</td><td align="right" ng-repeat="fld in show.labels">{{summary[fld].summary["75%"]|number}}</td></tr>
                    <tr><td>Max</td><td align="right" ng-repeat="fld in show.labels">{{summary[fld].summary.max|number}}</td></tr>
                    <tr><td>Mean</td><td align="right" ng-repeat="fld in show.labels">{{summary[fld].summary.mean|number}}</td></tr>
                    <tr><td>Std</td><td align="right" ng-repeat="fld in show.labels">{{summary[fld].summary.std|number}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>